.box-bottom{
	background: none;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='http://127.0.0.1/RunPolitics/images/bg-box-bottom.png', sizingMethod='crop');
}
#right h3{
	background: none;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='http://127.0.0.1/RunPolitics/images/bg-h3.png', sizingMethod='crop');
}
body{
	width:expression(document.documentElement.clientWidth < 1024 ? "967px" : "auto");
}
a.what span{
	background: none;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='http://127.0.0.1/RunPolitics/images/a-what-this.png', sizingMethod='crop');
}


a.up{
	background: none;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='http://127.0.0.1/RunPolitics/images/thumbsUp.png', sizingMethod='scale');
}
a.voteup,
a.votedown
{
	background: none;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='http://127.0.0.1/RunPolitics/images/votedCheckBox.png', sizingMethod='scale');
}
a.down{
	background: none;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='http://127.0.0.1/RunPolitics/images/thumbsDown.png', sizingMethod='scale');
}
strong.slogan{
	background: none;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='http://127.0.0.1/RunPolitics/images/slogan.png', sizingMethod='crop');
}
.reaction_handle {
	background: none;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='http://127.0.0.1/RunPolitics/images/slider-images-handle.png', sizingMethod='crop');
}
.track {
	background: none;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='http://127.0.0.1/RunPolitics/images/slider-images-track-right.png', sizingMethod='crop');
}
.track-left {
	background: none;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='http://127.0.0.1/RunPolitics/images/slider-images-track-left.png', sizingMethod='crop');
}
.raiting{
	background: none;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='http://127.0.0.1/RunPolitics/images/bg-raiting.png', sizingMethod='crop');
}