/* @override http://localhost/~Rob/RunPolitics/css/candidate_dashboard.css */

html {
	background-color: #0173ba;
}

body {
	background-color: #fff;
	margin: 0 30px;
	padding: 10px;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	height: 100%;
}

h3 {
	color: #f04a54;
	background-color: #cae7f7;
	margin: 10px -10px;
	padding: 5px 20px;
}

table.can-dashboard-current-question {
	background-color: #cae7f7;
	padding: 2px;
	border-style: dotted;
	border-color: #0173ba;
}

table.can-dashboard-current-question span.total-votes {
	color: #0173ba;
}

table.can-dashboard-current-question span.total-positive-votes {
	color: #3bba01;
}

table.can-dashboard-current-question span.total-negative-votes {
	color: #ba0104;
}