.user-summary,
.event-summary {
	border-width: 1px 1px 1px 1px;
	border-color: #C1D8EA;
	border-style: solid;
	padding: 6px 6px 10px 6px;
	margin-left: 0px;
	background-color: #f1faff;
	zoom:1;	   /* Fixes top and bottom margin widths for IE */
}

.event-summary p {
	/*padding-left:105px;*/
	line-height: 12px;
	
}
.subheader {
	font-family: Georgia;
	font-size: 1.5em;
	color: #033D7C;
	padding-top: 7px; 
	border-width: 2px 0px 0px 0px; 
	border-color: #C1D8EA; 
	border-style: solid;
}
/* For one div this overrides some of the subheader settings above */
#live_events_subheader_div {
	border: 0px;
	padding-top: 0px;
}

#working_town_div {
	/* used on view_events.php page */
	padding: 10px;
	border: 1px solid #C1D8EA;
	text-align: center;
	background-color: #f1faff;
	zoom:1;	   /* Fixes top and bottom margin widths for IE */
}

.event_content_div H3 {
	/* Used for H3 tags on the event page */
	margin-top: 3px;
	margin-bottom: 6px;
}

#participate_live_div {
	/* used on view_events.php page */
	padding: 6px;
	border: 1px solid #C1D8EA;
	text-align: center;
}
/* Edit Page */
.edit_tab{
	margin-left: 10px;
	padding-left: 10px;
	list-style: none;
}
.edit_tab li {
	float: left;
	margin: 0px 40px 0px 0px;
	padding: 0px;
	font-size: 11pt;
}
.field_display {
	padding: 5px; 
	border: 1px #CCCCCC solid; 
	display: block; 
}


label{
	display: block;
	font-weight: bold;
	padding-bottom: 5px;
	padding-top: 7px;
}

.form_indent {
	padding-left: 30px; 
	padding-top: 5px;
}