div.flag-question {
	position: absolute;
	right: 8px;
	top: 27px;
	background-color: #c6e5f6;
	border-style: solid;
	border-width: 1px;
	padding: 3px;
}

a.flag-option {
	display: block;
}

img.img-flag-question {
	position: absolute;
	right: 8px;
	top: 14px;
}

div.flag-user {
	position: absolute;
	background-color: #c6e5f6;
	border-style: solid;
	border-width: 1px;
	padding: 3px;
	top: 62px;
	left: 88px;
}

img.img-flag-user {
	position: absolute;
	top: 51px;
	z-index: 101;
	left: 88px;
}
