/* @override http://localhost/~Rob/Politic20/css/flag.css */

div.flag-question {
	position: absolute;
	background-color: #c6e5f6;
	padding: 6px;
	bottom: -28px;
	z-index: 101;
	left: 287px;
	border: 1px solid #93a2b4;
	font-size: 10px;
}

div.close_flag_window {
	background: url(../images/micro_close.png) no-repeat;
	width: 7px;
	height: 7px;
	position: absolute;
	top: -1px;
	right: -1px;
	cursor: pointer;
}

a.flag-option {
	display: block;
}

img.img-flag-question {
	position: absolute;
	right: 8px;
	top: 14px;
}

div.flag-user {
	position: absolute;
	color: #1f538c;
	background-color: #c6e5f6;
	border-style: solid;
	border-width: 1px;
	/*top: 62px;
	left: 88px;*/
	z-index: 101;
	padding: 6px;
	margin-top: 10px;
	left: 91px;
}

div.watch_question {
	position: absolute;
	background-color: #c6e5f6;
	padding: 6px;
/*	bottom: -16px;*/
	bottom: -200px;
	z-index: 101;
	left: 341px;
	border: 1px solid #93a2b4;
	font-size: 10px;
}

div.autor img.img-flag-user {
	position: absolute;
	z-index: 101;
	left: 91px;
	border-style: none;
}
