.footer {
    margin-left: 1px;
}

.content {
    margin-left: 1px;
    width: 932px;
}

.top-menu UL.left {
    margin-left: 4px;
}

.content .col-right {
    margin-right: 5px;
}

.header .menu .date {
    margin-left: 100px;
}