#root {
    width: expression((documentElement.clientWidth||document.body.clientWidth)<970?'970px':'95%');
}

.footer {
    margin-left: 1px;
}

.top-menu UL.left {
    margin-left: 4px;
}

.header .menu-container {
    text-align: center;
}

.content .col-left {
    width: 10%;
    margin-right: -10%;
}

.content .col-center {
    margin-right: 17%;
	margin-left: 5%;
    width: 54%;
}

.content .col-right {
    width: 34%;
    margin-left: -35%;
}

.header .logo {
    left: -92px;
}

.header {
}