.box-bottom{
	background: none;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='templates/Politic20/images/bg-box-bottom.png', sizingMethod='crop');
}
#right h3{
	background: none;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='templates/Politic20/images/bg-h3.png', sizingMethod='crop');
}
body{
	width:expression(document.documentElement.clientWidth < 1024 ? "967px" : "auto");
}
a.what span{
	background: none;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='templates/Politic20/images/a-what-this.png', sizingMethod='crop');
}