html {
	background-color:#0173BA;
}
.queue-logo {
	padding:15px;
}
body {
	background-color:#FFFFFF;
	color:#0173ba;
	height:100%;	
	font-size:14px;
	min-width:575px;
}
.current_question {
	margin-left:50px;
	color:#EC2834;
	font-weight:bold;
	font-size: 15px;
}
.queue-question {
	margin-left:15px;
	margin-right:15px;
	widht:100%;
	background:#F0FAFF;
	height:23px;
	vertical-align: middle;
	border:1px solid #053C7C;
	font-weight: bold;
}
.question {
	widht:100%;
	background:#F0FAFF;
	vertical-align: middle;
	font-weight: bold;
}
span.votes {
	border: 5px solid #053C7C;	
	color:#F04A54;
	position:relative;
	top:5px;
}
span.votes p {
		padding: 1px;
		color:#F04A54;
		display: inline;
		background:#ffffff;
}

h3 {
	color:#053C7C;
	width:100%;
	background:#F0FAFF;
	left:5px;
	font-size: 12px;
	overflow:hidden;
	padding-top:2px;
	text-transform: uppercase;
	font-weight: bold;
}

.votes {
	font-weight:bold;	
}

.question {
	margin:20px;
}

ul.top-nav {
	margin:0px 0px 0px 0px;
	background-position:-9px;
	height:9px;
}