/*--------------------------------------------------------------------
Global CSS

Author:			Ryan Brill <ryan [at] solutionset.com>

Methods: 		RULES ORGANISATION WITHIN CSS FILES
				Should mirror the html document flow:
				General
					Container
						Header
							Nav
						Body
							Layout Setup
								Modules
						Footer
					Hacks
					(other)
----------------------------------------------------------------------*/

/* Global Reset
----------------------------------------------------------------------*/
@import url(globalReset.css);

/* Global Styles
----------------------------------------------------------------------*/
body {
	color: #404040;
	font-size: 10px;
	font-family: tahoma, arial, helvetica, sans-serif;
	line-height: 1.3em;
	background: #000;
}


/* Links
----------------------------------------------------------------------*/
a {
	color: #0055a4;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.link{color:#0055a4;cursor:pointer;}
/* Text
----------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
h1 {
	font-size: 2em;
	font-weight: normal;
	margin-bottom: 5px;
	color:#444D3E;
}
h2 {
	font-size: 1.5em;
	margin-bottom: 10px;
}
h3 {
	font-size: 1.2em;
	margin-bottom: 10px;
}
h4 {
	font-size: 1.1em;
}

/* Often Used Classes
----------------------------------------------------------------------*/
.floatleft {
	float: left;
	display: inline;
}
.floatright {
	float: right;
	display: inline;
}
img.bordered {
	border: 1px solid #e1e1e2;
	padding: 3px;
}
.padtop {
	margin-top: 10px;
}

/* Lists
----------------------------------------------------------------------*/

/* Lists -> imgTwoCol
---------------------------------------------*/
ul.imageTwoCol {
	padding: 0;
	margin: 0;
	list-style: none;
}
ul.imageTwoCol li {
	border-bottom: 1px solid #DADADA;
	padding: 7px;
	padding-left: 65px;
	zoom: 1; /* fix IE-win (trigger hasLayout) */
}
ul.imageTwoCol li.last {
	border-bottom: 0;
}
ul.imageTwoCol li.noimg {
	padding-left: 0 !important;
}
ul.imageTwoCol li span.img {
	float: left;
	display: inline;
	margin-left: -65px;
	width: 50px;
	height: 50px;
}
ul.imageTwoCol li span.img img {
	border: 1px solid #DADADA;
	padding: 1px;
}
/* Medium */
ul.imageTwoCol li.medium {
	padding-left: 115px;
}
ul.imageTwoCol li.medium span.img {
	margin-left: -115px;
	width: 100px;
	height: 100px;
}

/* Lists -> Star Rating
---------------------------------------------*/
div.rating {
	/*height: 15px;*/
	/*margin: 0px 0px 10px 0px;*/
}
span.rate_it {
	float: left;
	margin-right: 5px;
}
ul.rateable,
ul.rated {
	float: left;
	display: inline;
	background: url(../i/bg_star_rating.gif) 0px 0px repeat-x;
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 75px;
	height: 15px;
	line-height: 15px;
	position: relative;
	font-size: 10px;
}
ul.rateable li,
ul.rated li {
	padding: 0px !important;
	margin: 0px;
	border: 0 !important;
	/*\*/
	float: left;
	/* */
}
ul.rateable li a,
ul.rated li a {
	outline: none;
	display: block;
	width: 15px;
	height: 15px;
	text-decoration: none;
	text-indent: -9000px;
	z-index: 20;
	position: absolute;
	padding: 0px;
}
ul.rated li a {
	cursor: default;
}
ul.rateable li a:hover {
	z-index: 2;
	left: 0px;
	background: url(../i/bg_star_rating.gif) 0px 30px ;
}
ul.rateable a.one-star,
ul.rated a.one-star {
	left: 0px;
}
ul.rateable a.one-star:hover {
	width: 15px;
}
ul.rateable a.two-stars,
ul.rated a.two-stars {
	left: 15px;
}
ul.rateable a.two-stars:hover {
	width: 30px;
}
ul.rateable a.three-stars,
ul.rated a.three-stars {
	left: 30px;
}
ul.rateable a.three-stars:hover {
	width: 45px;
}
ul.rateable a.four-stars,
ul.rated a.four-stars {
	left: 45px;
}
ul.rateable a.four-stars:hover {
	width: 60px;
}
ul.rateable a.five-stars,
ul.rated a.five-stars {
	left: 60px;
}
ul.rateable a.five-stars:hover {
	width: 75px;
}
ul.rateable li.current-rating,
ul.rated li.current-rating {
	position: absolute;
	height: 15px;
	background: url(../i/bg_star_rating.gif) 0px 15px;
	line-height: 15px;
	display: block;
	text-indent: -9000px;
	z-index: 1;
}
span.rating_text {
	/*display: inline;
	float: left;
	height: 15px;
	line-height: 15px;
	width: 25px;
	margin: 0 0 0 5px;*/
	clear: both;
	display: block;
}

/* Tables
----------------------------------------------------------------------*/
table,
table td,
table th {
	border-bottom: 1px solid #b5b5b5;
}
table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 0;
}
table th {
	font-weight: bold;
	vertical-align: middle;
	padding: 5px 15px;
}
table td {
	padding: 5px 15px;
	vertical-align: top;
}
table tr.plain td {
	border-bottom: 0;
}
table tr.even td {
	background: #f9f9f9;
}

/* Form Elements
----------------------------------------------------------------------*/
input.txt,
input.password {
	color: #000;
	border: 1px solid #c3c3c3;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #7c7c7c;
	padding: 2px;
	width: 194px;
	font-size: 10px;
}
input.checkbox,
input.radio {
	_height: 13px;
	_width: 13px;
}
input.file {
	padding: 2px;
}
select {
	font-size: 1.1em;
}
select option {
	padding: 0 2px;
}
textarea {
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	padding: 2px;
	width: 382px;
	height: 75px;
}

/* Form -> Layout
-----------------------------------*/
form fieldset {
	border: none;
	padding: 7px 0;
}
form span.error {
	display: block;
	color: #D1392C;
}
form div.error label {
	color: #D1392C;
}
form div.error input.text,
form div.error input.password,
form div.error textarea,
form div.error select {
	border: 1px solid #F1B3B3;
	border-top: 1px solid #D1392C;
	border-left: 1px solid #D1392C;
	background: #ffc;
}
form div {
	padding-left: 150px;
}
form div.nolabel {
	margin-left: -145px;
}
form div.buttons {
	margin-left: 0;
}
form div label {
	float: left;
	display: inline;
	margin-left: -145px;
	font-weight: bold;
}
form div div label {
	float: none;
	display: inline;
	margin-left: 0;
	font-weight: normal;
}
form div div {
	padding: 0;
	margin: 0;
}
form div.iefix {
	_height: 1%; /*IE FIX*/
	margin-bottom: 10px;
}
form div ul.checkbox li,
form div ul.radio li {
	margin: 0px;
	padding: 0px;
	margin-bottom: 3px;
}
form div ul.checkbox li label,
form div ul.radio li label {
	font-weight: normal;
}

/* Form -> Search -> Layout
-----------------------------------*/
div.box.search form {
	margin: 0 15px;
}
div.box.search form fieldset {
	border: none;
	padding: 7px 0;
}
div.box.search form input.text,
div.box.search form input.password {
	width: 150px;
}

div.box.search form div {
	float: left;
	display: inline;
	padding: 0;
	margin: 0 5px 5px 0;
}
* html div.box.search form div {
	height: 2em; /* IE needs this */
}
div.box.search form div label {
	float: none;
	display: inline;
	margin-left: 0px;
}
div.box.search form div div.nolabel {
	padding-top: 12px;
	margin: 0;
}

/* Containers
----------------------------------------------------------------------*/
#wrapper {
	width: 996px;
	position: relative;
	margin: 0 auto;
	background-color: #fff;
	border-top: 6px solid #444d3e;
	border-left: 6px solid #444d3e;
	border-right: 6px solid #444d3e;
}
#wrapper.noads {
	border-top: 0;
}
#leftnav {
	width: 215px;
	float: left;
	display: inline;
	margin-right: 25px;
	margin-bottom: 25px;
}
#content {
	float: left;
	width: 538px;
	padding: 0;
	position: relative;
	margin-right: 25px;
	margin-bottom: 25px;
	/*overflow: hidden; /* don't let wide content break the layout */
}
#sidebar {
	float: left;
	display: inline;
	width: 185px;
	margin-bottom: 25px;
	color: #888;
	overflow: hidden; /* don't let wide content break the layout */
}

/* Advertisement
----------------------------------------------------------------------*/
#advertisement {
	width: 728px;
	margin: 0 auto;
	padding-top: 10px;
}
#advertisement .adv {
	color: #c2c2c0;
	font-size: 9px;
	text-align: right;
	text-transform: uppercase;
}

/* Header
----------------------------------------------------------------------*/
#header {
	position: relative;
	/*height: 213px;*/
	padding: 5px 0 0 0;
	margin-bottom: 18px;
}
.external #header {
	height: 80px;
}
#header .box {
	margin: 0;
}
#header div#logo {
	width: 976px;
	margin-bottom: 10px;
	padding: 0 10px;
}
/* ManyOne Scope */
#header div#logo.manyone-scope a,
#header div#logo.myaccount-scope a {
	display: block;
	height: 46px;
	width: 209px;
	margin: 0 auto;
	background: url(../i/logo.gif) no-repeat;
	text-indent: -5000px;
	overflow: hidden;
}
/* Portal Scope */
#header div#logo.portal-scope {
	text-align: center;
}
#header div#logo.portal-scope a {
	font-size: 30px;
	line-height: 46px;
}
#header div#logo.portal-scope a img {
	display: block;
	margin: 0 auto;
}

/* Header -> Breadcrumbs
-----------------------------------*/
#header .breadcrumbs {
	float: left;
	display: inline;
	color: #444D3E;
	padding: 2px 0 2px 22px;
	margin-left: 10px;
	font-size: 11px;
}
#header .breadcrumbs a {
	color: #8b97a3;
}
#header .breadcrumbs span {
	color: #8b97a3;
}
#header .breadcrumbs span.last {
	color: #ff9600;
}

/* Header -> Dashboard
-----------------------------------*/
#header #dashboard {
	margin-right: 10px;
	text-align: right;
	color: #3561b7;
	font-size: 11px;
}
#header #dashboard ul.loginmenu {
	float: right;
	display: inline;
	margin: 0;
	font-size: 11px;
}
#header #dashboard ul.loginmenu li {
	display: inline;
	float: left;
	padding: 0 0 0 4px;
}

/* Header -> Banner
-----------------------------------*/
#header .main-banner-wrapper {
	background: url(../i/banner_top.gif) no-repeat;
	padding-top: 15px;
}
#header .main-banner-wrapper.portalImg {
	background: none;
	padding-top: 0;
}
#header #banner {
	height: 100px;
	width: 996px;
	background: url(../i/banner_manyone.jpg) no-repeat;
	border-bottom: 1px solid #fff;
}
#header #banner.portal-scope {
	height: auto;
	width: auto;
	background: none;
	border-bottom: 0;
}
#header .main-banner-wrapper.portalImg #banner.portal-scope {
	height: 118px;
	width: 996px;
	border-bottom: 1px solid #fff;
}


/* Navigation
----------------------------------------------------------------------*/
#header ul#mainnav {
	border-top: 1px solid #9F9F9F;
	background: #BFBFBF;
	color: #444D3E;
	border-bottom: 1px solid #9F9F9F;
	width: 996px;
	height: 23px;
	line-height: 23px;
	margin: 0;
	text-transform: uppercase;
	position: relative;
	font-size: 12px;
	font-weight:bold;
}
#header ul#mainnav.hasSub {
	margin-bottom: 33px;
}
#header ul#mainnav li {
	display: inline;
	background: url(../i/nav_sep.gif) no-repeat 100% 3px;
	padding: 0 25px;
}
#header ul#mainnav li.last {
	background: none;
}
#header ul#mainnav li a {
	padding-bottom: 5px;
	color: #0055A4;
}
#header ul#mainnav li.selected a {
	color: #0055A4;
}
#header ul#mainnav li a:hover {
	color: #0055A4;
	text-decoration: underline;
}

/* Navigation -> Subnav
-----------------------------------*/
#header ul#mainnav li ul {
	position: absolute;
	bottom: -28px;
	left: 0;
	width: 996px;
}
#header ul#mainnav li.selected ul li a {
	color: #8b97a3;
	background: none;
}
#header ul#mainnav li ul li.selected a {
	color: #3561b7;
}

/* Leftnav
----------------------------------------------------------------------*/
#leftnav div.box {
	margin-bottom: 0;
}

/* Leftnav -> Topics
-----------------------------------*/
#leftnav #topics {
	background: #fafbfc url(../i/bg_leftnav_topics.gif) no-repeat;
	padding: 7px 0 7px 7px;
}
#leftnav #topics h3 {
	height: 28px;
	width: 133px;
	background: url(../i/title_leftnav_navigator.gif) no-repeat;
	text-indent: -5000px;
	overflow: hidden;
	margin: 0 0 5px 3px;
}
#leftnav #topics form fieldset {
	padding: 0;
}
#leftnav #topics form div {
	padding: 0;
	margin: 0;
}
#leftnav #topics input.text {
	width: 150px;
	float: left;
	display: inline;
	margin-right: 5px;
	color: #989898;
}

/* Leftnav -> Flash
-----------------------------------*/
#flashnav-wrapper-outer {
	margin-bottom: 16px;
	position: relative;
	z-index: 5;
}

/* Leftnav -> Buttons
-----------------------------------*/
#leftnav #myaccount h3,
#leftnav #manageportals h3 {
	margin-bottom: 1px;
}
#leftnav #myaccount a,
#leftnav #manageportals a {
	display: block;
	width: 215px;
	height: 51px;
	text-indent: -5000px;
	overflow: hidden;
}
#leftnav #myaccount a {
	background: url(../i/leftnav_myaccount.gif) no-repeat;
}
#leftnav #manageportals a {
	background: url(../i/leftnav_myportals.gif) no-repeat;
}

/* Leftnav -> Ad
-----------------------------------*/
#leftnav div.box.ad,
#leftnav div.adv {
	margin: 0 10px;
}
#leftnav div.adv {
	margin-top: 5px;
	color: #c2c2c0;
	font-size: 9px;
	text-transform: uppercase;
}

/* Content
----------------------------------------------------------------------*/
div#title {
	background: url(../images/many_one/bg_contentRoundBottom.gif) no-repeat 0 100%;
	padding: 15px 20px;
	margin-bottom: 15px;
	zoom: 1;
}
div#title .top {
	background: url(../images/many_one/bg_contentRoundTop.gif) no-repeat;
	height: 10px;
	margin: -15px -20px 0 -20px;
}
div#title h1 {
	margin: 0;
}

/* Message Queue
----------------------------------------------------------------------*/
div#messagestack {
	zoom: 1;
}
div#messagestack ul.success,
div#messagestack ul.error {
	list-style-type: none;
	border: 1px solid #C5C5C5;
	margin-bottom: 10px;
	padding: 5px 10px;
	background: #F1F9F1;
}
div#messagestack ul.error {
	background:#FFFFCC;
}
div#messagestack ul li {
	color: #333;
}
div#messagestack ul.success li.title,
div#messagestack ul.error li.title {
	padding: 0 0 5px 20px;
	background: url(../i/icon_success.gif) 0 0 no-repeat;
	font-weight: bold;
}
div#messagestack ul.error li.title {
	background: url(../i/icon_error.gif) 0 0 no-repeat;
}

/* Master Modules
----------------------------------------------------------------------*/

/* Master -> Featured Home
-----------------------------------*/
div.featuredHome {
	color: #99C1E4;
	background: url(../i/bg_featuredHome.gif) repeat-y;
}
div.featuredHome .top {
	background: url(../i/bg_featuredHomeTop.gif) no-repeat;
	height: 10px;
}
div.featuredHome div.box div.header {
	background: 0;
	padding: 0;
	border: 0;
}
div.featuredHome div.box div.header h2 {
	color: #fe9600;
	font-size: 12px;
	margin-bottom: 5px;
	text-transform: none;
}
div.featuredHome ul.imageTwoCol li {
	border-bottom: 1px solid #508FC4;
}
div.featuredHome ul.imageTwoCol li.last {
	border: 0;
}
div.featuredHome ul.imageTwoCol li span.img img {
	border: 1px solid #4e9bd5;
	padding: 0;
}
div.featuredHome div.box p.links a {
	background-image: url(../i/bg_link_arrow_blue.gif);
}
div.featuredHome div.box p.noresults {
	background: none;
	border: 0;
	padding: 0;
}
/* left */
div.featuredHome .left {
	float: left;
	display: inline;
	width: 306px;
	padding: 0 10px;
}
div.featuredHome .left h3,
div.featuredHome .left h3 a {
	font-size: 12px;
	margin-bottom: 0;
	color: #fff;
}
div.featuredHome .left h3 {
	margin-top: 9px;
	margin-bottom: 5px;
}
div.featuredHome .left a {
	color: #002B48;
}
/* right */
div.featuredHome .right {
	float: right;
	display: inline;
	width: 190px;
	padding: 0 10px;
}
div.featuredHome .right h3,
div.featuredHome .right h3 a {
	font-size: 16px;
	font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
	color: #fff;
	text-transform: uppercase;
}
div.featuredHome .right a {
	color: #fff;
}
div.featuredHome .right ul.imageTwoCol li {
	padding: 0;
}
div.featuredHome .right ul.imageTwoCol li span.img {
	display: block;
	float: none;
	height: auto;
	width: auto;
	margin: 0 0 10px 0;
}
#wrapper div.featuredHome .right select.rSelect {
	width: 185px;
}

/* Master -> Topic Content
-----------------------------------*/
div.topicContent {
	border-top: 3px solid #426BBB;
	border-bottom: 10px solid #f2f2f2;
	background: #f2f2f2 url(../i/bg_portalContentRule.gif) repeat-y 269px 10px;
	padding: 0 10px;
	margin-bottom: 0;
}
div.topicContent .top {
	height: 5px;
	background: #f2f2f2 url(../i/bg_portalContent.gif) repeat-x;
	padding-bottom: 10px;
	margin: 0 -10px;
}
div.topicContent div.left {
	width: 250px;
	float: left;
}
div.topicContent div.right {
	width: 250px;
	float: right;
}
div.topicContent div.box div.header {
	background: none;
	border: 0;
	padding: 0;
}
div.topicContent div.box div.header h2 {
	color: #426bbb;
	font-size: 16px;
	text-transform: uppercase;
	border-bottom: 1px solid #b5b5b5;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
div.topicContent div.box h3 {
	color: #4d5359;
	font-size: 12px;
	margin-bottom: .5em;
}
div.topicContent div.box ul {
	border-top: 1px solid #dadada;
	border-bottom: 1px solid #fff;
}
div.topicContent div.box ul li {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #dadada;
	background: #f9f9f9 url(../i/bg_link_arrow.gif) no-repeat 5px 50%;
	padding-left: 16px;
	line-height: 20px;
}
div.topicContent div.box p.noresults {
	background: none;
	border: 0;
	padding: 0;
}

/* div.box
----------------------------------------------------------------------*/
div.box {
	margin-bottom: 10px;
}
div.box div.header {
	zoom: 1;
}
div.box div.controls {
	text-align: right;
}
div.box div.controls a {
	margin-left: 5px;
}
div.box p.links {
	text-transform: uppercase;
	font-size: 9px;
	margin: 10px 0 0 0;
}
div.box p.links a {
	background: url(../i/bg_link_arrow.gif) no-repeat 100% 50%;
	padding-right: 7px;
}
div.box div.header {
	background: url(../images/many_one/bg_contentRoundTop.gif) no-repeat;
	border-bottom: 10px solid #3561b7;
	padding: 10px 15px 0 15px;
}
/* Added by CTE */
div.header {
	background: url(../images/many_one/bg_contentRoundTop.gif) no-repeat;
	border-bottom: 10px solid #3561b7;
	padding: 10px 15px 0 15px;
	width: 508px;
}

div.box div.header h2 {
	color: #3561b7;
	font-size: 16px;
	font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
div.box p.noresults {
	background: #f9f9f9;
	padding: 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #b5b5b5;
	margin: 0;
}
/* Actions */
#content div.box ul.actions {
	float: right;
	display: inline;
}
#content div.box ul.actions li {
	border: 0;
	padding: 0;
}
#content div.box ul.actions li {
	display: block;
	padding: 3px 0;
}
#content div.box ul.actions li a,
table td.actions a {
	display: block;
	color: #8b97a3;
	padding: 2px 0 2px 25px;
	font-size: 9px;
	text-transform: uppercase;
}
/* Action icons */
.actions a.forward,
.actions a.join {
	background: url(../i/icon_forward.gif) 0 3px no-repeat;
}
.actions a.bookmark_add,
.actions a.bookmark_view,
.actions a.bookmark_remove {
	background: url(../i/icon_fav.gif) 0 3px no-repeat;
}
.actions a.calendar_view,
.actions a.calendar_remove {
	background: url(../i/icon_calendar.gif) 0 3px no-repeat;
}
.actions a.print {
	background: url(../i/icon_print.gif) 0 3px no-repeat;
}
.actions a.new {
	background: url(../i/icon_new.gif) 0 3px no-repeat;
}
.actions a.email,
.actions a.share,
.actions a.message,
.actions a.person_send {
	background: url(../i/icon_email.gif) 0 3px no-repeat;
}
.actions a.edit,
.actions a.manage_item,
.actions a.manage_items {
	background: url(../i/icon_edit.gif) 0 3px no-repeat;
}
.actions a.links {
	background: url(../i/icon_link.gif) 0 3px no-repeat;
}
.actions a.add_portal {
	background: url(../i/icon_add_portal.gif) 0 3px no-repeat;
	text-decoration: none;
	color: #000;
}
.actions a.remove,
.actions a.person_remove {
	background: url(../i/icon_remove.gif) 0 3px no-repeat;
}
.actions a.person_add {
	background: url(../i/icon_add.gif) 0 3px no-repeat;
}

/* Box -> Tabs
-----------------------------------*/
ul.tabs {
	height: 25px;
	border-top: 1px solid #bdc3cf;
	border-bottom: 1px solid #b5b5b5;
	background: #f2f2f2;
	margin-bottom: 0;
}
ul.tabs li {
	float: left;
	display: inline;
	border-right: 1px solid #bdc3cf;
}
ul.tabs li a {
	float: left;
	display: inline;
	height: 15px;
	line-height: 15px;
	padding: 6px 10px 4px 10px;
	border-right: 1px solid #fff;
	text-decoration: none;
}
ul.tabs li.first a {
	border-left: 0;
}
ul.tabs li a:hover {
	background-color: #fff;
	text-decoration: none;
	color: #000;
}
ul.tabs li a.selected {
	background-color: #fff;
}

/* div.box -> table
-----------------------------------*/
div.box.table {
	margin-bottom: 10px;
}
div.box.table p.links {
	padding: 5px;
	margin-top: 0;
	border-bottom: 1px solid #B5B5B5;
	background: #F2F2F2;
	text-align: right;
}
/* pagination */
.pagination {
	text-align: right;
	font-weight: bold;
	margin: 5px 0 10px 0;
}
.pagination p {
	float: left;
}
.pagination ul li span {
	font-weight: normal;
}
.pagination ul li {
	display: inline;
}
.pagination ul li.pager-first a {
	margin-right: 5px;
	padding-left: 15px;
	background: url(../i/icon_prev.gif) no-repeat 0 2px;
}
.pagination ul li.pager-previous-label a {
	padding-left: 15px;
	background: url(../i/icon_prev_single.gif) no-repeat 0 2px;
}
.pagination ul li.pager-next-label a {
	margin-right: 5px;
	padding-right: 15px;
	background: url(../i/icon_next_single.gif) no-repeat 100% 2px;
}
.pagination ul li.pager-last a {
	padding-right: 15px;
	background: url(../i/icon_next.gif) no-repeat 100% 2px;
}

/* div.box -> contentDetail
-----------------------------------*/
div.box.contentDetail {
	font-size: 11px;
	line-height: 14px;
}
div.box.contentDetail div.header {
	margin-bottom: 10px;
}
div.box.contentDetail span.img {
	float: left;
	display: inline;
	margin: 0 10px 10px 0;
}
div.box.contentDetail span.img img {
	border: 1px solid #e1e1e2;
	padding: 3px;
}

/* div.box -> list
-----------------------------------*/
div.box.list ul.imageTwoCol li {
	padding-left: 80px;
}
div.box.list ul.imageTwoCol li.noimg {
	padding: 7px 15px !important;
}
div.box.list ul.imageTwoCol li.even {
	background: #f9f9f9;
}
div.box.list ul.imageTwoCol li,
div.box.list ul.imageTwoCol li.last {
	border-bottom: 1px solid #b5b5b5;
}
div.box.list ul.imageTwoCol li p.links {
	background: none;
	border: 0;
}
div.box.list p.noresults {
	padding: 5px 15px;
	background: #F2F2F2;
	border-bottom: 1px solid #b5b5b5;
}
div.box.list p.links {
	padding: 5px;
	margin-top: 0;
	border-bottom: 1px solid #B5B5B5;
	background: #F2F2F2;
	text-align: right;
}

/* div.box -> Intro
-----------------------------------*/
div.box.intro {
	background: url(../i/bg_intro.gif) repeat-y 0 100%;
	padding: 20px 20px 10px 20px;
	margin-bottom: 10px;
}
div.box.intro .top {
	background: url(../i/bg_contentRoundTop.gif) no-repeat;
	height: 10px;
	margin: -20px -20px 0 -20px;
}
div.box.intro h3 {
	color: #303030;
	font-size: 16px;
	line-height: 16px;
	font-weight: normal;
}
div.box.intro h3 span {
	color: #ff9600;
}
div.box.intro ul li strong {
	color: #4b4b4b;
	display: block;
	font-size: 12px;
	padding-bottom: 2px;
}
div.box.intro strong a {
	color: #4b4b4b;
	text-decoration: none;
}
div.box.intro a {
	color: #909090;
	text-decoration: none;
}
/* left */
div.box.intro div.left {
	width: 230px;
	float: left;
}
div.box.intro div.left ul li {
	color: #909090;
	background: url(../i/bullet_square_orange.gif) no-repeat 0 12px;
	border-bottom: 1px solid #efefef;
	padding: 5px 0 5px 12px;
}
div.box.intro div.left ul li.last {
	border: 0;
}
/* right */
div.box.intro div.right {
	width: 245px;
	float: right;
}
div.box.intro div.right ul li {
	color: #909090;
	background: url(../i/bullet_arrow_orange.gif) no-repeat 0 10px;
	padding: 3px 0 3px 10px;
}
div.box.intro div.right ul li.join,
div.box.intro div.right ul li.createPortal {
	float: right;
	display: inline;
	background: none;
	padding: 0;
	margin: 10px 0 0 5px;
}
div.box.intro div.right ul li.join a,
div.box.intro div.right ul li.createPortal a {
	display: block;
	width: 60px;
	height: 73px;
	background: url(../i/button_special_join.gif) no-repeat;
	text-indent: -5000px;
	overflow: hidden;
}
div.box.intro div.right ul li.createPortal a {
	background: url(../i/button_special_createportal.gif) no-repeat;
}

/* div.box -> alerts
-----------------------------------*/
div.box.alerts tr td {
	background: #e7f0fb;
}
div.box.alerts tr.even td {
	background: #fff;
}

/* div.box -> calendar
-----------------------------------*/
div.box.calendar table caption {
	text-align: center;
	font-weight: bold;
	margin-bottom: 5px;
}
div.box.calendar table th,
div.box.calendar table td {
	border: 1px solid #B5B5B5;
	padding: 5px 0;
	text-align: center;
}
div.box.calendar ul.calendar_nav {
	clear: both;
	text-align: center;
}
div.box.calendar ul.calendar_nav li {
	display: inline;
	margin-right: 5px;
}
/* div.box -> calendar -> Two Col
-----------------------------------*/
div.box.calendar.twocal {
	margin: 0;
}
div.box.calendar.twocal table {
	width: 262px;
	float: left;
}
div.box.calendar.twocal table.first {
	margin-right: 10px;
}
div.box.calendar.twocal table.last {
	position: relative;
	right: -1px;
	margin-right: -1px;
}

/* Portal Styles
----------------------------------------------------------------------*/

/* div.box -> Portal Detail
-----------------------------------*/
div.box.portalDetail {
	background: url(../i/bg_portalDetail.gif) repeat-y;
	padding: 10px;
	margin-bottom: 0;
	border-bottom: 3px solid #426bbb;
	font-size: 11px;
	line-height: 14px;
}
div.box.portalDetail .top {
	background: url(../i/bg_contentRoundTop.gif) no-repeat;
	height: 10px;
	margin: -10px -10px 0 -10px;
}
div.box.portalDetail div.header {
	background: 0;
	padding: 0;
	border: 0;
}
div.box.portalDetail h2 {
	font-weight: normal;
}
div.box.portalDetail span.floatright {
	margin-left: 10px;
	margin-bottom: 10px;
}

/* div.box -> Featured Content
-----------------------------------*/
div.box.featuredContent {
	border-top: 1px solid #fff;
	margin-bottom: 0;
}
div.box.featuredContent div.header {
	background: 0;
	padding: 0;
	border: 0;
}
div.box.featuredContent ul {
	margin: 0;
}
div.box.featuredContent ul li {
	background: #DFE7F2;
	border-bottom: 1px solid #fff;
	padding: 16px 10px;
	color: #77818a;
}
div.box.featuredContent h2 {
	color: #426bbb;
	font-size: 12px;
	text-transform: uppercase;
}
div.box.featuredContent h2 span {
	display: block;
	margin-top: 3px;
	color: #7c8691;
	font-size: 16px;
	font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
div.box.featuredContent span.img {
	float: left;
	display: inline;
	margin: 0 10px 0 -10px;
}
div.box.featuredContent h3 {
	color: #4d5359;
	font-size: 16px;
	font-family: "Arial Narrow",Arial,Helvetica,sans-serif;
	text-transform: uppercase;
}
div.box.featuredContent h3 a {
	color: #4d5359;
}
/* last */
div.box.featuredContent ul li.last {
	border-bottom: 0;
}

/* div.box -> Featured Content -> Horizontal
-----------------------------------*/
div.box.featuredContent.horizontal {
	background: url(../i/bg_featuredContent.gif) repeat-y;
	border-top: 1px solid #fff;
	margin-bottom: 0;
	padding-top: 0;
}
div.box.featuredContent.horizontal ul li {
	float: left;
	display: inline;
	width: 159px;
	border-right: 1px solid #fff;
	border-bottom: 0;
	padding: 10px;
}
div.box.featuredContent.horizontal span.img {
	float: none;
	display: block;
	margin: 0 -10px 10px -10px;
}
div.box.featuredContent.horizontal ul li span.img img {
	display: block;
	height: 130px;
	width: 179px;
}
div.box.featuredContent.horizontal h2 {
	text-transform: none;
}
div.box.featuredContent.horizontal h3 {
	color: #4d5359;
	font-size: 12px;
	font-family: tahoma, arial, helvetica, sans-serif;
	margin-bottom: .5em;
	text-transform: none;
}
/* last */
div.box.featuredContent.horizontal ul li.last {
	width: 158px;
	border-right: 0;
}
div.box.featuredContent.horizontal ul li.last span.img img {
	width: 178px;
}

/* div.box -> Portal News
-----------------------------------*/

div.box.portalNews {
	color: #dddfe2;
	background: #6691cc;
	border-top: 3px solid #4d6280;
	border-bottom: 2px solid #c8cbd0;
	padding: 16px 10px 6px 10px;
	margin-bottom: 0;
}
div.box.portalNews div.header {
	background: 0;
	padding: 0;
	border: 0;
}
div.box.portalNews div.header h2 {
	color: #fff;
	font-size: 12px;
}
div.box.portalNews h3 {
	color: #2e486b;
	font-size: 16px;
	font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
div.box.portalNews h3 a {
	color: #2e486b;
}
div.box.portalNews span.img {
	margin: 0 10px 10px -10px;
}
div.box.portalNews p.links {
	text-align: right;
}
div.box.portalNews p.links a {
	color: #2e486b;
	background-image: url(../i/bg_link_arrow_light.gif);
}

/* div.box -> Portal Content
-----------------------------------*/
div.box.portalContent {
	border-top: 5px solid #4d6280;
	border-bottom: 10px solid #f2f2f2;
	background: #f2f2f2 url(../i/bg_portalContentRule.gif) repeat-y 326px 10px;
	padding: 0 10px;
	margin-bottom: 0;
}
div.box.portalContent div.header {
	background: 0;
	padding: 0;
	border: 0;
}
div.box.portalContent.alt {
	border-top: 5px solid #333;
}
div.box.portalContent .top {
	height: 5px;
	background: #f2f2f2 url(../i/bg_portalContent.gif) repeat-x;
	padding-bottom: 10px;
	margin: 0 -10px;
}
div.box.portalContent p.links {
	margin-top: -5px;
	margin-bottom: 10px;
}
div.box.portalContent div.left {
	width: 310px;
	float: left;
}
div.box.portalContent div.right {
	width: 190px;
	float: right;
}
div.box.portalContent h2,
div.box.portalContent .right h3 {
	color: #426bbb;
	font-size: 16px;
	font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	border-bottom: 1px solid #b5b5b5;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
div.box.portalContent .right h3 {
	margin-bottom: 15px;
}
div.box.portalContent .right img {
	display: block;
	border: 1px solid #b5b5b5;
	margin-bottom: 10px;
}
div.box.portalContent h3 {
	color: #4d5359;
	font-size: 12px;
	margin-bottom: .5em;
}
div.box.portalContent p.links.alt {
	float: right;
	margin: 0;
}
div.box.portalContent p.links.alt a {
	background: 0;
	padding: 0;
}
div.box.portalContent ul {
	border-top: 1px solid #dadada;
	border-bottom: 1px solid #fff;
}
div.box.portalContent ul li {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #dadada;
	background: #f9f9f9 url(../i/bg_link_arrow.gif) no-repeat 5px 50%;
	padding-left: 16px;
	line-height: 20px;
}
div.box.portalContent ul li.img {
	border: 0;
	background: none;
	padding-left: 0;
}
div.box.portalContent ul li.img img {
	margin: 0;
}

/* div.box -> Comments
-----------------------------------*/
/*div.box.comments {
	border-top: 11px solid #3561b7;
	border-bottom: 1px solid #fff;
	margin: 0;
}*/
div.box.comments div.header {
	padding: 15px 10px;
	background: #f2f2f2;
	border-bottom: 1px solid #b5b5b5;
}
div.box.comments div.header h2 {
	color: #4b4b4b;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
}
div.box.comments ul {
	margin-bottom: 0;
}
div.box.comments ul li,
div.box.comments ul li.last {
	background: #f9f9f9;
	padding: 10px 10px 10px 75px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #b5b5b5;
}
div.box.comments ul li span.img,
div.box.comments ul li p.title {
	margin-left: -65px;
}
div.box.comments ul li span.img img {
	margin-bottom: 10px;
}
div.box.comments ul li.even {
	background: #f2f2f2;
}
div.box.comments ul li.noimg {
	padding: 10px;
}
div.box.comments ul li p.links {
	text-align: right;
}

/* div.box -> Add Comment
-----------------------------------*/
div.box.addcomment {
	background: #f9f9f9;
}
div.box.addcomment div.header {
	padding: 15px 10px;
	background: #f2f2f2;
	border-bottom: 1px solid #b5b5b5;
}
div.box.addcomment div.header h2 {
	color: #4b4b4b;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
}
div.box.addcomment textarea {
	width: 372px;
}

/* div.box -> Organize Images Picture List
-----------------------------------*/
div.box #pictureList
{
	font-family: Arial, sans-serif;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	text-align: left;
	display: block;
}

div.box #pictureList li
{
	cursor: move;
	position: relative;
	float: left;
	margin: 3px;
	width: 120px;
	height: 90px;
	border: 1px solid #000;
	padding: 3px;
}

div.box #pictureList li img
{
	width: 100%;
	height: 100%;
}

/* Sidebar
----------------------------------------------------------------------*/
#sidebar div.box {
	margin-bottom: 20px;
	padding: 0 10px;
}
#sidebar div.box div.header {
	margin: 0 -10px 10px -10px;
	background: 0;
	padding: 0;
	border: 0;
}
#sidebar div.box div.header h3 {
	width: 184px;
	height: 27px;
	color: #d2d2d2;
	text-indent: -5000px;
	overflow: hidden;
	margin: 0;
}
#sidebar div.box div.subhead {
	border-left: 4px solid #ff9600;
	padding-left: 6px;
	margin-left: -10px;
	margin-bottom: 5px;
}
#sidebar div.box div.subhead h4 {
	color: #303030;
	font-size: 12px;
	text-transform: uppercase;
	margin: 0;
	border: 0;
}
#sidebar div.box div.subhead h4 span {
	display: block;
	color: #4b4b4b;
	font-size: 9px;
	line-height: 11px;
	margin-top: 2px;
}
#sidebar div.box p.toggle {
	margin: -10px -10px 10px -10px;
	padding: 2px 10px;
	background: #F9F9F9;
	border-top: 0;
}
#sidebar img.floatleft {
	margin: 0 10px 10px 0;
}

/* Sidebar -> Alt
-----------------------------------*/
#sidebar div.box.alt {
	border: 0;
}
#sidebar div.box.alt div.header h3 {
	width: auto;
	height: auto;
	text-indent: 0;
	padding: 5px 10px;
	border-bottom: 1px solid #f1f1f1;
	overflow: visible;
}

/* Sidebar -> form
-----------------------------------*/
#sidebar form div {
	padding: 0;
	margin: 0;
}
#sidebar form label {
	color: #404040;
	float: none;
	margin-left: 0;
}
#sidebar form div.nolabel {
	margin: 0;
}
#sidebar form input.text,
#sidebar form input.password {
	float: none;
	margin-left: 0;
	width: 159px;
}

/* Sidebar -> Search
-----------------------------------*/
#sidebar div.search {
	padding: 0;
}
#sidebar div.search form {
	margin: 0;
}
#sidebar div.search input.text {
	width: 130px;
	float: left;
	display: inline;
	margin-right: 5px;
	color: #989898;
}

/* Sidebar -> Updates
-----------------------------------*/
#sidebar div.updates {
	color: #777;
	font-size: 10px;
}
#sidebar div.updates .header h3 {
	background: url(../i/title_sidebar_updates.gif) no-repeat;
}
#sidebar div.updates h4 {
	color: #4b4b4b;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 1px solid #c6c6c6;
	margin-bottom: 0;
}
#sidebar div.updates p {
	margin-bottom: 5px;
}

/* Sidebar -> Subscribe
-----------------------------------*/
#sidebar div.subscribe .header h3 {
	background: url(../i/title_sidebar_subscribe.gif) no-repeat;
}

/* Sidebar -> Testamonials
-----------------------------------*/
#sidebar div.testimonials .header h3 {
	background: url(../i/title_sidebar_testimonials.gif) no-repeat;
}
#sidebar div.testimonials ul li {
	background: url(../i/quote.gif) no-repeat;
	padding-left: 23px;
	margin-bottom: 20px;
}
#sidebar div.testimonials blockquote p {
	color: #4b4b4b;
	font-size: 12px;
	font-weight: bold;
}
#sidebar div.testimonials blockquote p cite {
	display: block;
	margin-top: 5px;
	color: #777777;
	font-size: 9px;
	font-weight: normal;
	line-height: 12px;
}

/* Sidebar -> Actions
-----------------------------------*/
#sidebar div.actions .header h3 {
	background: url(../i/title_sidebar_actionitems.gif) no-repeat;
}
#sidebar div.actions ul li {
	display: block;
	padding: 5px 0;
	font-size: 10px;
}
#sidebar div.actions ul li a {
	display: block;
	padding: 2px 0 2px 25px;
	color: #8b97a3;
}
/* form */
#sidebar div.actions form,
#sidebar div.actions form fieldset,
#sidebar div.actions form div {
	display: inline;
	padding: 0;
	margin: 0;
}
#sidebar div.actions form select {
	color: #888;
	width: 80px;
	font-size: 10px;
}
#sidebar div.actions form label {
	color: #888;
	font-weight: normal;
}

/* Sidebar -> Ratings
-----------------------------------*/
#sidebar div.ratings .header h3 {
	background: url(../i/title_sidebar_ratings.gif) no-repeat;
}

/* Sidebar -> Tags
-----------------------------------*/
#sidebar div.tags .header h3 {
	background: url(../i/title_sidebar_tags.gif) no-repeat;
}
#sidebar div.tags input.text {
	width: 110px;
	float: left;
	margin-right: 5px;
	display: inline;
}

/* Sidebar -> Profiles
-----------------------------------*/
#sidebar div.profiles ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
#sidebar div.profiles ul li {
	padding: 5px 0;
	padding-left: 35px;
	zoom: 1; /* fix IE-win (trigger hasLayout) */
}
#sidebar div.profiles ul li span.img {
	float: left;
	display: inline;
	margin-left: -35px;
	width: 25px;
	height: 25px;
}
#sidebar div.profiles ul li span.img img {
	border: 1px solid #DADADA;
	padding: 1px;
}
#sidebar div.profiles ul li p {
	margin: 0;
}

/* Sidebar -> Bookmarks
-----------------------------------*/
#sidebar div.bookmarks .header h3 {
	background: url(../i/title_sidebar_bookmarks.gif) no-repeat;
}

/* Sidebar -> Tags
-----------------------------------*/
#sidebar div.commentList .header h3 {
	background: url(../i/title_sidebar_comments.gif) no-repeat;
}

/* Sidebar -> Edit Profile
-----------------------------------*/
#sidebar div.editProfile .header h3 {
	background: url(../i/title_sidebar_editprofile.gif) no-repeat;
}

/* Sidebar -> Privacy
-----------------------------------*/
#sidebar div.privacy .header h3 {
	background: url(../i/title_sidebar_privacy.gif) no-repeat;
}

/* Sidebar -> Feedback
-----------------------------------*/
#sidebar div.feedback .header h3 {
	background: url(../i/title_sidebar_feedback.gif) no-repeat;
}

/* Sidebar -> Invite
-----------------------------------*/
#sidebar div.invite .header h3 {
	background: url(../i/title_sidebar_invitefriends.gif) no-repeat;
}

/* Sidebar -> Ads
-----------------------------------*/
#sidebar div.ad {
	margin: 30px 0 0 0;
	padding: 0;
}
#sidebar div.adv {
	color: #c2c2c0;
	font-size: 9px;
	text-align: right;
	text-transform: uppercase;
}

/* Footer
----------------------------------------------------------------------*/
#footer {
	clear: both;
	margin: 10px 0 0 0;
	border-top: 1px solid #dcdcdc;
	padding: 5px 10px;
}
#footer p {
	margin-bottom: 0;
}

/* JS Styles
----------------------------------------------------------------------*/

/* rSelect
-----------------------------------*/
#wrapper select.rSelect {
	height: 21px;
	width: 250px;
}
#wrapper #sidebar select.rSelect {
	width: 165px;
}
#wrapper div.rSelectBox {
	padding: 0;
	cursor: default;
	text-align: left;
}
#wrapper div.rSelectBox div.label {
	color: #fff;
	background: #142450;
}
#wrapper div.rSelectBox div.label div.icon {
	background: url(../i/bg_rselect_right.gif) no-repeat 100% 0;
	height: 14px;
	line-height: 14px;
	padding: 2px 20px 2px 5px;
}
#wrapper div.rSelectBox div.ulcontainer {
	position: absolute;
	color: #000;
	background-color: #fff;
	text-align: left;
	line-height: 15px;
	border: 1px solid #B2B2B2;
	margin: -1px 0 0 0;
	padding: 0;
	z-index: 10;
}
#wrapper div.rSelectBox ul {
	list-style: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;
	/* resetting some values */
	border: 0;
}
#wrapper div.rSelectBox ul.col {
	float: left;
	display: inline;
}
#wrapper div.rSelectBox ul li {
	padding: 0 5px;
	/* resetting some values */
	display: block;
	width: auto;
	float: none;
	background: 0;
	margin: 0;
	border: 0;
	line-height: normal;
}
#wrapper div.rSelectBox ul li.optlabel {
	font-weight: bold;
	font-style: italic;
}
#wrapper div.rSelectBox ul li.disabled {
	color: #666;
}
#wrapper div.rSelectBox ul ul {
	float: none;
}
#wrapper div.rSelectBox ul ul.disabled {
	color: #666;
}
#wrapper div.rSelectBox ul ul li {
	padding-left: 20px;
}
#wrapper div.rSelectBox ul li a {
	color: #000;
	display: block;
	padding: 1px 2px;
	text-decoration: none;
}
#wrapper div.rSelectBox ul li.hover {
	background-color: #DFE7F2;
}
#wrapper div.rSelectBox ul li.selected {
	background-color: #ACC4E4;
}
#wrapper div.rSelectBox ul li.selected a,
#wrapper div.rSelectBox ul li.hover a {
	_height: 1%;
}
#wrapper div.rSelectBox ul.col li.selected a,
#wrapper div.rSelectBox ul.col li.hover a {
	_height: auto;
}
#wrapper div.rSelectBox ul li a:hover {
	text-decoration: none;
}

/* kDialog2
-----------------------------------*/
.superNode iframe {
	display: none !important; /* iFrame was causing problems in IE */
}
.kDialog2 {
	background-color: #E5E5E5;
	border: 1px solid #ccc;
	text-align: left;
}
.kDialog2 dl {
	margin: 0;
}
.kDialog2 dt {
	background-color: #ccc;
	color: #000;
	border: 2px solid #fff;
	border-bottom: 1px solid #fff;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	_height: 20px;
	min-height: 20px;
	font-weight: bold;
	padding: 0 30px 0 5px;
	cursor: move;
	position: relative;
}
*+html .kDialog2 div.contwrapper {
	width: 100%;
}
*+html .kDialog2 dl {
	width: 100%;
}
.kDialog2 dt em {
	font-style: normal;
}
.kDialog2 dt span.close {
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
	height: 14px;
	width: 14px;
	background: url(../i/icon_close2.gif) no-repeat;
	text-indent: -5000px;
	overflow: hidden;
}
.kDialog2 dd.content {
	border: 2px solid #fff;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	border-top: 0;
	padding: 5px;
}
.kDialog2 dd.content div.text {
	margin: 10px 0 5px 0;
}
.lightbox {
	z-index: 10;
}
/* kDialog2 -> Form
-----------------------------------*/

* html .kDialog2 form {
	width: 1%; /* IE */
}
.kDialog2 form div {
	margin-bottom: 3px;
}
.kDialog2 form div div {
	padding: 0;
	margin: 0;
}
.kDialog2 form div label {
	margin-left: -100px;
}
.kDialog2 form div div label {
	float: none;
	display: inline;
	margin-left: 0;
}
.kDialog2 textarea {
	width: 250px;
	height: 40px;
}
.kDialog2 div.buttons input {
	margin-right: 5px;
}
.kDialog2 a.resizer {
	display: block;
}

/* kDialog2 -> LightboxPopup
----------------------------------*/
.kDialog2.lightboxPopup {
	max-width: 538px;
	width: expression(document.body.clientWidth > 528 ? "528px" : "auto"); /* IE */
	border: 1px solid #a8b5d6;
	padding: 4px;
	background: #afc0dc;
}
.kDialog2.lightboxPopup .contwrapper {
	border: 1px solid #fff;
	background: #d9e6f8 url(../i/bg_lightbox_content.gif) no-repeat 100% 100%;
}
.kDialog2.lightboxPopup dt {
	padding: 8px 30px 8px 8px;
	background: #12204a url(../i/bg_lightbox_title.gif) repeat-x;
	border: 1px solid #27437a;
	border-bottom: 3px solid #4169b7;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
}
.kDialog2.lightboxPopup dt span.subtitle {
	display: block;
	color: #adbfdc;
	font-size: 11px;
	font-weight: normal;
	margin-top: 2px;
}
.kDialog2.lightboxPopup dd.content {
	border: 0;
	padding: 8px;
}
.kDialog2.lightboxPopup dd.content div.text {
	margin-top: 0;
}
.kDialog2.lightboxPopup dd.content h3 {
	color: #1f3f78;
	font-size: 13px;
	font-weight: bold;
	font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
.kDialog2.lightboxPopup dd.content ul li {
	background: url(../i/bullet_arrow_orange2.gif) no-repeat 0 5px;
	padding: 3px 0 3px 12px;
}
.kDialog2.lightboxPopup dd.content a.learnmore {
	margin-left: 10px;
}
.kDialog2.lightboxPopup dd.content .buttons {
	text-align: right;
}
/* noTitle */
.kDialog2.lightboxPopup.noTitle dt {
	border: 0;
	background: none;
}
.kDialog2.lightboxPopup.noTitle dd.content {
	padding-top: 0;
}

/* Throbber
----------------------------------*/
.throbber {
	background: white url(../i/throbber.gif) center 15px no-repeat;
	filter: alpha(opacity=80);
	opacity: 0.8;
	z-index: 100;
}

/* topicTree
----------------------------------*/
ul.topicTree li {
	list-style: none;
	padding: 0px;
	margin: 5px 0;
	padding-left: 20px;
	color: #555;
}
ul.topicTree li.open,
ul.topicTree li.closed {
	font-weight: bold;
	cursor: pointer;
}
ul.topicTree li.open {
	background: url(../i/icon_close.gif) no-repeat 0px 3px;
}
ul.topicTree li.closed {
	background: url(../i/icon_open.gif) no-repeat 0px 3px;
}
ul.topicTree li.noChildren {
	background: url(../i/icon_bullet.gif) no-repeat 0px 3px;
	font-weight: normal;
	cursor: default;
}

/* kCalendar + kDatePicker
----------------------------------*/
.kDatePicker {
	z-index: 200;
	width: 10px;
}
.kDatePicker table {
	border-collapse: collapse;
	color: #000;
	font-size: 1em;
}
.kDatePicker table * {
	color: #000;
}
.kDatePicker table caption div.next,
.kDatePicker table caption div.prev {
	float: left;
	cursor: pointer;
	width: 20px;
}
.kDatePicker table caption div.next {
	float: right;
}
.kDatePicker table tbody td,
.kDatePicker table tfoot div {
	cursor: pointer;
}
div.kCalendar {
	width: 180px;
	margin: 0 0 0 2px;
}
.kCalendar table caption {
	padding: 4px 0;
	font-weight: bold;
	font-size: 1em;
	background: #fff;
	color: #666;
}
.kCalendar table th {
	width: 23px;
	border: 1px solid #DFDFDF;
	padding: 0;
	background: #fbfbfb;
	font-weight: bold;
	text-align: center;
}
.kCalendar table td {
	height: 23px;
	width: 23px;
	border: 1px solid #DFDFDF;
	margin: 1px;
	padding: 0;
	background: #fff;
	text-align: center;
	vertical-align: middle;
	pointer: default;
}
.kCalendar table td.outOfBounds {
	color: #cfcfcf;
}
.kCalendar table tr.thisWeek td {
	background-color: #eee;
}
.kCalendar table td.thisDay {
	background-color: #a7e1fc !important;
}

.kCalendar table td:hover {
	background-color: #a7e1fc !important;
}
.kCalendar table td a {
	display: block;
	width:100%;
	height: 100%;
	color: #000;
}
.kCalendar table td a:hover {
	display: block;
	color: #000;
	text-decoration: underline;
}

/* Inline editor
-----------------------------------*/
.inline_edit_date {
	border: 0;
}
.highlightElement {
	background-color: #EFF3FF;
	border: 1px dashed #f00;
	cursor: pointer;
}

/* sIFR
   These are standard sIFR styles... do not modify
----------------------------------*/
/*.sIFR-flash {
	visibility: visible !important;
	margin: 0;
}
.sIFR-replaced {
	visibility: visible !important;
}
span.sIFR-alternate {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	display: block;
	overflow: hidden;
	letter-spacing: 0;
}*/
/* These "decoy" styles are used to hide the browser text before it is replaced... the negative-letter spacing in this case is used to make the browser text metrics match up with the sIFR text metrics since the sIFR text in this example is so much narrower... your own settings may vary... any weird sizing issues you may run into are usually fixed by tweaking these decoy styles */
/*.sIFR-hasFlash div#content div.sifr div.header h2 {
	visibility: hidden;
	font-size: 22x;
	line-height: 22px;
}
.sIFR-hasFlash div#content div.featuredContent h2 span {
	visibility: hidden;
	font-size: 20x;
	line-height: 20px;
}
.sIFR-hasFlash div#content div.portalNews h3 {
	visibility: hidden;
	font-size: 20x;
	line-height: 20px;
}
.sIFR-hasFlash div#content div.portalContent div.header h2,
.sIFR-hasFlash div#content div.portalContent .right h3 {
	visibility: hidden;
	font-size: 20x;
	line-height: 20px;
}
.sIFR-hasFlash div#content div.topicContent div.sifr div.header h2 {
	visibility: hidden;
	font-size: 16x;
	line-height: 16px;
}*/

/* Loading Reminder */
.loading_reminder {
	background:#FFF url(../images/many_one/bg-loader.gif) no-repeat;
	border-left:2px solid #444D3E;
	border-right:2px solid #444D3E;
	border-bottom:2px solid #444D3E;
	color: #5378c1;
	width: 60px;
	height: 85px;
	line-height: 35px;
	vertical-align: middle;
	text-align: left;
	z-index: 3;
	font-size: 14px;
	display: block;
	position: fixed;
}

/* Floating ask question */
.ask_question {
	background:#D9D9D9;
	font-width:bold;
	color: #5378c1;
	width: 101%;
	line-height: 35px;
	vertical-align: middle;
	text-align: center;
	z-index: 3;
	font-size: 12px;
	display: block;
	position: fixed;
	cursor:pointer;
	border-bottom:2px solid #FFF;
}
.ask_question h2{
	margin:0px;
	font-size: 14px;
	color:#404040;
}
.ask_question a{
	cursor:pointer;
	font-size:13;
	font-weight:bold;
}
.ask_question a:hover;{
	cursor:pointer;
	text-decoration:underline;
}
.errorArea {
	color: #FF0000;	
	font-weight: bold;
}
#broadcaster_div {
	text-align:left;
	margin-left:20px;
}
#video_container{
	text-align:left;
}